<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
</head>
<body>
<div class="cover-user-show my-page">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <% if user_signed_in? && @user == current_user %>
        <h1 class="font-weight-normal">マイページ</h1>
      <% else %>
        <h1 class="font-weight-normal user-page"><%= @user.name %>さんのページ</h1>
      <% end %>
    </div>
    <% if user_signed_in? && @user == current_user %>
    <p class="d-flex align-self-end">
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %>
    </p>
    <% end %>
    <div class="follow-button-container">
      <% if current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= button_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, data: { turbo: false, confirm: '本当にフォローを外しますか？' }, class: "btn btn-followout" %>
        <% else %>
          <%= button_to 'フォローする', user_relationships_path(@user.id), method: :post, class: "btn btn-followin" %>
        <% end %>
      <% end %>
    </div>
    <% unless @user.id == current_user.id %>
      <% if (current_user.following? @user) && (@user.following? current_user)  %>
        <% if @isRoom == true %>
          <div class="container d-flex flex-column align-items-center position-relative">
            <div class="chat-button-container">
              <p class="user-show-room">
                <a href="<%= room_path(@roomId) %>" class="btn btn-chat btn-lg chat-button-size">チャットへ</a>
              </p>
            </div>
          </div>
        <% else %>
          <div class="container d-flex flex-column align-items-center position-relative">
            <div class="chat-button-container">
              <p class="user-show-room">
                <a href="<%= room_path(@roomId) %>" class="btn btn-chat btn-lg chat-button-size">チャットへ</a>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="d-flex w-100">
      <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.svg", class: "mb-3 profile-img" %>
      <h4 class="ml-3 mb-3 card w-100 profile"><%= @user.profile %></h4>
    </div>
    <div class="d-flex">
      <%= link_to follows_user_path(@user) do %>
        <h6 class="follow-text">フォロー<%= @following_users.count %></h6>
      <% end %>  
      <%= link_to followers_user_path(@user) do %>
        <h6 class="follow-text">フォロワー<%= @follower_users.count %></h6>
      <% end %>
    </div>
    <div class="row mt-5 index-left w-100">
      <% @posts.each do |post| %>
      <div class="one-post col-sm-3 mb-3">
        <%= link_to post_path(post) do %> 
         <%= attachment_image_tag post, :image, format: 'jpeg', size: '200x133' %>
         <p class="caption mb-0"><%= post.battle_type %></p>
         <p class="caption"><%= "#{post.comments.count} コメント" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>
</div>
</body>
</html>

