<div class="talk-room-container">
  <div class="title-center">
    <% @entries.each do |e| %>
      <% if @myUserId != e.user.id %>
        <h2><%= e.user.name %>さんとのトークルーム</h2>
      <% end %>
    <% end %>
  </div>
  <div class="talk-room-content">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="message-container">
          <span class="message-user"><%= m.user.name %></span>
          <span class="message-text"><%= m.message %></span>
          <div class="message-actions">
            <span class="message-timestamp"><small class="text-muted"><%= m.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small></span>
            <% if m.user == current_user %>
              <%= link_to '削除', room_message_path(@room, m), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" }, class: "delete-link" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= form_for [@room, @message], html: { class: "message-form" } do |f| %>
    <%= f.text_field :message, placeholder: "メッセージを入力して下さい", size: 50, class: "form-text-field" %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "投稿", class: "form-submit" %>
  <% end %>
  <%= paginate @messages %>
  <div class="mt-0">
    <%= link_to "ユーザー一覧に戻る", users_path, class: "btn btn-dark mt-3" %>
  </div>
</div>
