<div class="posts"> 
  <% if @posts.any? %>
    <div class="row mt-5 index-left w-100">
      <% posts.each do |post| %>
        <div class="one-post col-sm-4 mb-3 post-content">
          <%= link_to post_path(post) do %>
            <p class="caption"><%= post.user.name %></p>
            <%= attachment_image_tag post, :image, format: 'jpeg', size: '300x200' %>
            <p class="caption"><%= post.battle_type %></p>
            <p class="caption"><%= "#{post.comments.count} コメント" %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= paginate posts %>
  <% else %> 
    <p>一致する検索結果がありません</p> 
  <% end %> 
</div>
