<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>棋譜投稿一覧</title>
  <%= stylesheet_link_tag 'posts', media: 'all' %>
</head>
<body>
<div class="cover-index">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <h1 class="font-weight-normal">棋譜投稿一覧</h1>
    </div>
    
    <div class="row mt-0 mb-0 align-self-end">
      <%= form_with url: posts_path, method: :get, local: true, html: { class: 'search-form' } do |f| %>
        <%= f.text_field :search %>
        <%= f.submit '検索する', name: nil %>
      <% end %>
    </div>
    
    <!-- スマホ用ランキング（表示切り替え付き） -->
    <% if @rankings && !@rankings.empty? %>
      <div class="ranking-container d-sm-none">
        <button id="toggle-button-sp" class="ranking-button">人気戦型ランキング</button>
        <div class="ranking-list" id="ranking-list-sp" style="display: none;">
          <% @rankings.each_with_index do |(battle_type, count), index| %>
            <p class="ranking-item"><%= "#{index + 1}位  #{battle_type}: #{count}件" %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <div class="main-content">
      <div class="posts row">
        <%= render 'index', posts: @posts %>
      </div>
      
      <div class="sidebar d-none d-sm-block">
        <% if @rankings && !@rankings.empty? %>
          <div class="ranking-container"> 
            <button id="toggle-button" class="ranking-button">人気戦型ランキング</button>
          </div>
          <div class="ranking-list" id="ranking-list" style="display: none;">
            <% @rankings.each_with_index do |(battle_type, count), index| %>
              <p class="ranking-item"><%= "#{index + 1}位  #{battle_type}: #{count}件" %></p>
            <% end %>
          </div>
        <% else %>
          <p>ランキングが存在しません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
